{# src/Sdz/UserBundle/Resources/views/Blog/index.html.twig #}

{% extends "SdzUserBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block sdzuser_body %}
  <div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="{{ path('fos_user_profile_show') }}">Voir le profil</a></li>
      <li><a href="{{ path('fos_user_profile_edit') }}">Editer le profil</a></li>
      {% if null == membre %}
        <li><a href="{{ path('sdzuser_fiche_ajouter') }}">Créer ma fiche membre</a></li>
      {% else %}
        <li><a href="{{ path('sdzuser_fiche_voir', {'id': membre.id }) }}">Voir ma fiche membre</a></li>
      {% endif %}


    </ul>
  </div>
{% endblock %}
