{% extends "SdzUserBundle::layout.html.twig" %}

{% block title %}
    Fiche de {{ membre.fullname }} - {{ parent() }}
{% endblock %}

{% block body %}

  {% include "SdzUserBundle:Blog:fiche.html.twig" %}
  Fiche membre id {{ membre.id }} créé.
  <p>
    <a href="{{ path('sdzuser_accueil') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour au profil
    </a>
    {% if is_granted('ROLE_AUTEUR') %}
      <a href="{{ path('sdzuser_modifier', {'id': membre.id}) }}" class="btn">
        <i class="icon-edit"></i>
        Modifier la fiche
      </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('sdzuser_supprimer', {'id': membre.id}) }}" class="btn">
        <i class="icon-trash"></i>
        Supprimer la fiche
      </a>
    {% endif %}
  </p>

{% endblock %}
