<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Thibault Vieux">
    <meta name="keywords" content="Symfony2.2, blog">
    <link rel="alternate" type="application/rss+xml" title="Blog sur Symfony2" href="{{ url('sdzblog_feed') }}">

    <title>{% block title %}ISM{% endblock %}</title>

    {% block stylesheets %}
      {% stylesheets output='css/main.css' filter='cssrewrite, ?yui_css'
        'css/bootstrap.css'
        'css/bootstrap-responsive.css'
        '@SdzBlogBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
    {% endblock %}
  </head>

  <body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">ISM</a>
          <ul class="nav">
            <li><a href="{{ path('sdzsite_home') }}"><i class="icon-black icon-home"></i> Accueil</a></li>
            <li><a href="{{ path('sdzblog_accueil') }}"></i> Blog</a></li>
            <li><a href="{{ path('sdzsite_contact') }}">Contact</a></li>
            <li><a href="{{ path('sdzsite_lien') }}">Liens</a></li>
            <li><a href="{{ path('sdzsite_roadmap') }}">Roadmaps</a></li>
          </ul>
          <ul class="nav pull-right">
            <form class="navbar-search pull-left form-search">
              <div class="input-append">
                <input type="text" class="span2 search-query">
                <button type="submit" class="btn">Search</button>
              </div>
            </form>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <li class="dropdown" style="margin-left:10px">
                <a href="#" id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-black icon-user"></i> {{ app.user.username }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li class="nav-header">Utilisateur</li>
                  <li><a href="{{ path('sdzuser_index') }}">Mon profil</a></li>
                  <li><a href="#">Mes paramamètres</a></li>
                  {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-header">Administration</li>
                    <li><a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ path('fos_user_group_list') }}">Gérer les groupes</a></li>
                  {% endif %}
                  <li class="divider"></li>
                  <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="{{ path('fos_user_registration_register') }}"><i class="icon-black icon-pencil"></i>S'inscrire</a></li>
              <li class="dropdown">
                <a href="#" id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-black icon-user"></i> Se connecter <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                    {{ render(controller('SdzUserBundle:Security:login')) }}
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Header
    ================================================== -->
    {% block header %}
    {% endblock %}

    <!-- Contenu principal
    ================================================== -->
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
      {% block footer %}
        © ISM 2013
      {% endblock %}
      </div>
    </footer>

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
      {# jQuery depuis le CDN de Google, ou fallback sur une copie locale #}
      {# <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> #}
      <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.min.js') }}"><\/script>')</script>

      {# Tous nos javascripts avec Assetic #}
      {% javascripts output='js/main.js' filter='?yui_js'
        'js/bootstrap.js'
        '@SdzBlogBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}

  </body>
</html>
