{# src/Ism/BlogBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Blog - {{ parent() }}
{% endblock %}

{% block header %}
  <header class="jumbotron subhead">
    <div class="container">
      <h1>Blog</h1>
      <p class="lead">Partager, communiquer, découvrir.</p>
    </div>
  </header>
{% endblock %}

{% block content %}

  <div class="container">
  <div class="row-fluid">
    <!-- Menu
    ================================================== -->
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">

          <li class="nav-header">Le blog</li>
          <li><a href="{{ path('ismblog') }}">Accueil du blog</a></li>

          {% if is_granted('ROLE_AUTEUR') %}
            <li><a href="{{ path('article_new') }}">Ajouter un article</a></li>
          {% endif %}

          {# On affiche les 3 derniers articles #}
          {{ render(controller("IsmBlogBundle:Blog:menu", {'nombre': 5})) }}

        </ul>
      </div><!--/.well -->
    </div><!--/span-->

    <!-- Content
    ================================================== -->
    <div id="content" class="span9">
      {# On gère les messages flash de façon globale pour tout le bundle
         On peut catégoriser les messages dans différents sacs (bag),
         ici on les a mis dans "info", "success" et "error", qui correspondent aux classes CSS du Bootstrap #}
      {% for type in ['info', 'success', 'error'] %}
          {% for message in app.session.flashbag.get(type) %}
              <div class="alert alert-{{ type }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endfor %}

      {# On définit un nouveau block, que les vues du bundle pourront remplir #}
      {% block body %}
      {% endblock %}
    </div>

  </div><!--/row-->
</div><!-- Blog -->

{% endblock %}

{% block footer %}
  {{ parent() }} - <a href="{# path('ismblog_feed') #}">Flux RSS du Blog</a>
{% endblock %}
