{# src/Ism/BlogBundle/Resources/views/Blog/article.html.twig #}

{# On utilise une variable temporaire, qu'on définit à false si elle n'est pas déjà définit #}
{% set accueil = accueil|default(false) %}

{# On utilise une macro Twig pour afficher :
   * Soit le nom de l'auteur anonyme de l'auteur
   * Soit son nom et un lien vers son profil s'il était identifié #}
{% import "IsmUserBundle::userHelpers.html.twig" as userHelpers %}

<div itemscope itemtype="http://schema.org/Article">

  <h2 itemprop="name">
    {# On vérifie qu'une image soit bien associée à l'article #}
    {% if article.image is not null %}
      <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" />
    {% endif %}

    {# Si on est sur la page d'accueil, on fait un lien vers l'article, sinon non #}
    {% if accueil %}
      <a href="{{ path('article_show', {'slug': article.slug} ) }}">{{ article.titre }}</a>
    {% else %}
      {{ article.titre }}
    {% endif %}
  </h2>

  <i>
    Publié le <time datetime="{{ article.date|date('c') }}" itemprop="datePublished">{{ article.date|date('d/m/Y') }}</time> par <span itemprop="author">{{ userHelpers.link(article.user) }}</span>.
  </i>

  <div class="well" itemprop="articleBody">
      {# On parse les messages en MarkDown grâce à KnpMardownBundle #}
      {{ article.contenu|markdown }}
  </div>
  <div class="well well-small">
    <p><i>
      {# On affiche les catégories éventuelles #}
      {% if article.categories.count > 0 %}
          Catégories :
          {% for categorie in article.categories %}
              {{ categorie.nom }}{% if not loop.last %}, {% endif %}
          {% endfor %}
      {% endif %}
    </i></p>
  </div>
</div>

