{% extends "IsmBlogBundle::layout.html.twig" %}

{% block title %}
    {{ article.titre }} - {{ parent() }}
{% endblock %}

{% block body -%}

  <!-- Article -->
  {% include "IsmBlogBundle:Article:article.html.twig" %}

  <!-- Commande de l'utilisateur -->
  <p>
    <a href="{{ path('ismblog') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    {% if (is_granted('ROLE_AUTEUR') and (article.user.id == app.user.id)) or is_granted('ROLE_ADMIN') %}
      <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn">
        <i class="icon-edit"></i>
        Modifier l'article
      </a>
      <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn">
        <i class="icon-trash"></i>
        Supprimer l'article
      </a>
    {% endif %}
  </p>

  <!-- Commentaire -->
  {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': article.id} %}

  <!-- CSS -->
  {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}

{% endblock %}
