<div itemscope itemtype="http://schema.org/Person">
  <h2>Fiche membre</h2>
  <i>
    {% if membre.dateEdition is null %}
      Créé le <time datetime="{{ membre.date|date('c') }}" itemprop="datePublished">{{ membre.date|date('d/m/Y') }}</time>
    </span>.</br>
    {% else %}
      Dernière édition le {{ membre.dateEdition|date('d/m/Y') }}.
    {% endif %}
  </i>
  <div class='well'>
    <h4>A propos de {{ user.username }}</h4>
    <p><b>Nom :</b> <span itemprop="familyName">{{ membre.lastname }}</span></p>
    <p><b>Prénom :</b> <span itemprop="givenName">{{ membre.firstname }}</span></p>
    <p><b>Email :</b> {{ user.email }}</p>
    <p><b>Mobile :</b> <span itemprop="telephone">{{ membre.phone }}</span></p>
    <p><b>Site web :</b> <a href="{{ membre.website }}" itemprop="url">{{ membre.website }}</a></p>

    <h4>Métier</h4>
    <p><b>Titre métier :</b> <span itemprop="jobTitle">{{ membre.jobTitle }}</span></p>
    <p><b>Description :</b> {{ membre.jobDescription }}</br></p>
  </div>
</div>
