{% extends "IsmSiteBundle::Links/links.html.twig" %}

{% block ismsite_body -%}

  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Auteur</th>
        <th>Site web</th>
        <th>Description</th>
        <th style="width: 1%">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td><a href="{{ path('links_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
        <td>{{ entity.fullname }}</td>
        <td><a href="{{ entity.website }}">{{ entity.website }}</a></td>
        <td>{{ entity.description|truncate(100, true, ' [...]') }}</td>
        <td>
          <div class="btn-group">
          {% if (is_granted('ROLE_AUTEUR') and (entity.user == app.user.username)) or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('links_delete', { 'id': entity.id }) }}" class='btn btn-danger'><i class="icon-trash icon-white"></i></a>
            <a href="{{ path('links_edit', { 'id': entity.id }) }}" class='btn'><i class="icon-edit"></i></a>
          {% endif %}
          <a href="{{ path('links_show', { 'id': entity.id }) }}" class='btn'><i class="icon-chevron-right"></i></a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('links_new') }}" class="btn">
    Ajouter un nouveau lien
  </a>

{% endblock %}
