{% extends "IsmSiteBundle::Links/links.html.twig" %}

{% block ismsite_body -%}
  <h2>{{ entity.website }}</h2>
  <i>Ajouté par {{ entity.user }}</i>
  </br></br>
  <table class="record_properties">
    <tbody>
      <tr>
        <th>Auteur</th>
        <td>{{ entity.fullname }}</td>
      </tr>
      <tr>
        <th>Website</th>
        <td>{{ entity.website }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ entity.description }}</td>
      </tr>
    </tbody>
  </table>
  </br>
  <p>
    <a href="{{ path('ismsite_links') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    {% if is_granted('ROLE_AUTEUR') %}
      <a href="{{ path('links_edit', { 'id': entity.id }) }}" class="btn">
        <i class="icon-edit"></i>
        Modifier
      </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('links_delete', { 'id': entity.id }) }}" class="btn">
        <i class="icon-trash"></i>
        Supprimer
      </a>
    {% endif %}
  </p>


{% endblock %}
