{# src/Ism/SiteBundle/Resources/views/Site/index.html.twig #}

{% extends "IsmSiteBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block header %}
  <div class="jumbotron masthead">
    <div class="container">
      <h1>Projet ISM</h1>
      <p>Ce projet est fondé sur Symfony2 et Bootstrap.</p>
      <p><a class="btn btn-primary btn-large" href="#more">En savoir plus »</a></p>
      <ul class="masthead-links">
        <li><a href="https://github.com/melkir/ism">GitHub project</a></li>
        <li>Version 2.0</li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block ismsite_body %}

  <div class="marketing">

    <h1>Présentation du service ISM.</h1>
    <p class="marketing-byline">Ingénierie Système et Middleware.</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="../assets/img/bs-docs-twitter-github.png">
        <h2>Ingénierie.</h2>
        <p>Étudier et concevoir, proposer et mettre en œuvre des architectures et services en adéquation avec les besoins de l’entreprise.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="../assets/img/bs-docs-responsive-illustrations.png">
        <h2>Système.</h2>
        <p>Assurer la cohérence et la pertinence des infrastructures, des systèmes et proposer des axes d’optimisation.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="../assets/img/bs-docs-bootstrap-features.png">
        <h2>Middleware.</h2>
        <p>Mettre en place et gérer des logiciels permettant aux applications d'inter-opérer, échanger.</p>
      </div>
    </div>

    <hr class="soften">

    <h1>Nos derniers projets.</h1>
    <p class="marketing-byline">Pour plus d'information, consulter nos <a href="{{ path('ismsite_roadmaps') }}">roadmaps</a> et <a href="">catalogues</a>.</p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span2">
          <a class="thumbnail" href="">
            <img src="../assets/img/projets/projet1.png" alt="Projet1">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="">
            <img src="../assets/img/projets/projet2.png" alt="Projet2">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="">
            <img src="../assets/img/projets/projet3.png" alt="Projet3">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="">
            <img src="../assets/img/projets/projet4.png" alt="Projet4">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="">
            <img src="../assets/img/projets/projet5.png" alt="Projet5">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="">
            <img src="../assets/img/projets/projet6.png" alt="Projet6">
          </a>
        </li>
      </ul>
    </div>

    <hr class="soften">

    <balise id="more">
      <h1>Les métiers.</h1>
    </balise>
    <div class="row-fluid">
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Middleware' }) }}">Middleware</a></h2>
        <p>L'architecte middleware a pour mission de coordonner les applications informatiques et les systèmes d'information en réseau d'une entreprise ou d'une collectivité. </p>
        <ul class="tags">
            <li><a href="{{ path('ism_search_tag', {'name': 'Tomcat' }) }}" class="tag">TOMCAT</a></li>
            <li><a href="{{ path('ism_search_tag', {'name': 'Websphère' }) }}" class="tag">WEBSPHERE</a></li>
            <li><a href="{{ path('ism_search_tag', {'name': 'Weblogic' }) }}" class="tag">WEBLOGIC</a></li>
        </ul>
      </div><!--/span-->
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Système' }) }}">Système</a></h2>
        <p>Le responsable d'un système d'information (SI) métier veille à la performance et à l'optimisation du SI pour un métier spécifique (logistique, commercial, relation client...) dans le respect des orientations stratégiques de l'entreprise. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Unix' }) }}" class="tag">UNIX</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Windows' }) }}" class="tag">WINDOWS</a></li>
        </ul>
      </div><!--/span-->
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Infrastructure' }) }}">Infrastructure</a></h2>
        <p>Gérer la répertation des ressources, définir les pré-requis matériels des applications. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Matériel' }) }}" class="tag">MATÉRIEL</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Stockage' }) }}" class="tag">STOCKAGE</a></li>
        </ul>
      </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' :  'BDD' }) }}">Base de données</a></h2>
        <p>L'administrateur de bases de données est responsable du bon fonctionnement des logiciels dont il a la charge, comme les systèmes de gestion de bases de données. Il tient compte des avancées technologiques pour les faire évoluer et les enrichir. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Oracle' }) }}" class="tag">ORACLE</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'DBL' }) }}" class="tag">DBL</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Sybase' }) }}" class="tag">SYBASE</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Mysql' }) }}" class="tag">MYSQL</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Mssql' }) }}" class="tag">MSSQL</a></li>
        </ul>
      </div><!--/span-->
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Bureautique' }) }}">Bureautique</a></h2>
        <p>Effectue le dépannage, l'entretien et l'installation d'équipements ou de parcs d'équipements informatiques ou bureautiques (matériels, logiciels, réseaux, ...), selon les règles de sécurité et la réglementation. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Support' }) }}" class="tag">SUPPORT</a></li>
        </ul>
      </div><!--/span-->
    </div><!--/row-->
  </div>

{% endblock %}
