{# src/Ism/SiteBundle/Resources/views/Site/index.html.twig #}

{% extends "IsmSiteBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block header %}
  <div class="jumbotron masthead">
    <div class="container">
      <h1>Projet ISM</h1>
      <p>Ce projet est fondé sur Symfony2 et Bootstrap.</p>
      <p><a class="btn btn-primary btn-large" href="#more">En savoir plus »</a></p>
      <ul class="masthead-links">
        <li><a href="https://github.com/melkir/ism">GitHub project</a></li>
        <li>Version 2.0</li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block ismsite_body %}

  <div class="marketing">

    <h1>Présentation du service ISM.</h1>
    <p class="marketing-byline">Ingénierie Système et Middleware.</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="../assets/img/bs-docs-twitter-github.png">
        <h2>Ingénierie.</h2>
        <p>Étudier et concevoir, proposer et mettre en œuvre des architectures et services en adéquation avec les besoins de l’entreprise.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="../assets/img/bs-docs-responsive-illustrations.png">
        <h2>Système.</h2>
        <p>Assurer la cohérence et la pertinence des infrastructures, des systèmes et proposer des axes d’optimisation.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="../assets/img/bs-docs-bootstrap-features.png">
        <h2>Middleware.</h2>
        <p>Mettre en place et gérer des logiciels permettant aux applications d'inter-opérer, échanger.</p>
      </div>
    </div>

    <hr class="soften">

    <h1>Nos projets.</h1>
    <p class="marketing-byline">Pour plus d'information, consulter nos <a href="{{ path('ismsite_roadmaps') }}">roadmaps</a> et <a href="">catalogues</a>.</p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="" target="_blank">
            <img src="../assets/img/example-sites/soundready.png" alt="SoundReady.fm">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="" target="_blank">
            <img src="../assets/img/example-sites/kippt.png" alt="Kippt">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="" target="_blank">
            <img src="../assets/img/example-sites/gathercontent.png" alt="Gather Content">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="" target="_blank">
            <img src="../assets/img/example-sites/jshint.png" alt="JS Hint">
          </a>
        </li>
      </ul>
    </div>

    <hr class="soften">
    <balise id="more">
      <h1>Les métiers.</h1>
    </balise>
    <div class="row-fluid">
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Middleware' }) }}">Middleware</a></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <ul class="tags">
            <li><a href="{{ path('ism_search_tag', {'name': 'Tomcat' }) }}" class="tag">TOMCAT</a></li>
            <li><a href="{{ path('ism_search_tag', {'name': 'Websphère' }) }}" class="tag">WEBSPHERE</a></li>
            <li><a href="{{ path('ism_search_tag', {'name': 'Weblogic' }) }}" class="tag">WEBLOGIC</a></li>
        </ul>
      </div><!--/span-->
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Système' }) }}">Système</a></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Unix' }) }}" class="tag">UNIX</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Windows' }) }}" class="tag">WINDOWS</a></li>
        </ul>
      </div><!--/span-->
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Infrastructure' }) }}">Infrastructure</a></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Matériel' }) }}" class="tag">MATÉRIEL</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Stockage' }) }}" class="tag">STOCKAGE</a></li>
        </ul>
      </div><!--/span-->
    </div><!--/row-->
    </br>
    <div class="row-fluid">
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' :  'BDD' }) }}">Base de données</a></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Oracle' }) }}" class="tag">ORACLE</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'DBL' }) }}" class="tag">DBL</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Sybase' }) }}" class="tag">SYBASE</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Mysql' }) }}" class="tag">MYSQL</a></li>
          <li><a href="{{ path('ism_search_tag', {'name': 'Mssql' }) }}" class="tag">MSSQL</a></li>
        </ul>
      </div><!--/span-->
      <div class="span4">
        <h2><a href="{{ path('ism_search_categorie', {'name' : 'Bureautique' }) }}">Bureautique</a></h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <ul class="tags">
          <li><a href="{{ path('ism_search_tag', {'name': 'Support' }) }}" class="tag">SUPPORT</a></li>
        </ul>
      </div><!--/span-->
    </div><!--/row-->
  </div>

{% endblock %}
