{# src/Sdz/SiteBundle/Resources/views/Default/contact.html.twig #}

{% extends "SdzSiteBundle::layout.html.twig" %}

{% block title %}
  Contact - {{ parent() }}
{% endblock %}

{% block header %}
  <header class="jumbotron subhead">
    <div class="container">
      <h1>Nous contacter</h1>
      <p class="lead">Contacter ISM pour obtenir de l'aide.</p>
    </div>
  </header>
{% endblock %}

{% block sdzsite_body %}
  <div class="well">
    <form action="#" method="post" class="form-horizontal" {{ form_enctype(form) }}>
      {{ form_errors(form) }}

      <div class="control-group">
          {{ form_label(form.email) }}
          {{ form_errors(form.email) }}
        <div class="controls">
          {{ form_widget(form.email, { 'attr': {'class': 'span3', 'placeholder' : 'Email'} }) }}
        </div>
      </div>

      <div class="control-group">
          {{ form_label(form.subject) }}
          {{ form_errors(form.subject) }}
        <div class="controls">
          {{ form_widget(form.subject, { 'attr': {'class': 'span4', 'placeholder' : 'Entrer un sujet'} }) }}
        </div>
      </div>

      <div class="control-group">
          {{ form_label(form.content) }}
          {{ form_errors(form.content) }}
        <div class="controls">
          {{ form_widget(form.content, { 'attr': {'class': 'span6', 'rows':'12', 'placeholder' : 'Votre message ici'} }) }}
        </div>
      </div>

      {{ form_rest(form) }}

      <div class="controls">
        <input type="submit" class="btn btn-primary" value="Envoyer" />
      </div>
    </form>
  </div>
{% endblock %}
