{% extends "SdzUserBundle::layout.html.twig" %}

{% block title %}
  A propos de {{ user.username }} - {{ parent() }}
{% endblock %}

{% block sdzuser_body %}

  {% include "SdzUserBundle:User:fiche.html.twig" %}

  <p>
    <a href="{{ path('sdzuser_index') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour
    </a>
    {% if is_granted('ROLE_AUTEUR') %}
      <a href="{{ path('sdzuser_fiche_modifier', {'id': membre.id}) }}" class="btn">
        <i class="icon-edit"></i>
        Modifier
      </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('sdzuser_fiche_supprimer', {'id': membre.id}) }}" class="btn">
        <i class="icon-trash"></i>
        Supprimer
      </a>
    {% endif %}
  </p>

{% endblock %}
