{# src/Ism/BlogBundle/Resources/views/Blog/menu.html.twig #}
{% if (null != liste_articles) %}
  <li class="nav-header">Articles récents</li>
  {% for article in liste_articles %}
    <li><a href="{{ path('article_show', {'slug': article.slug}) }}">{{ article.titre }}</a></li>
  {% endfor %}
  <li class="nav-header">Mots-clefs</li>
  <ul class="tags">
    {% for key, value in liste_tags %}
      <li><a href="{{ path('ism_search_tag', {'name': key}) }}" class="tag">{{ key|upper }} ({{ value }})</a></li>
    {% endfor %}
  </ul>
  <li class="nav-header">Catégories</li>
  <select class="span12" onchange="if (this.value) window.location.href=this.value">
    <option>Choisir une catégorie</option>
    {% for categorie in liste_categories %}
      <option value="{{ path('ism_search_categorie', {'name' :  categorie.nom }) }}">{{ categorie.nom }}</option>
    {% endfor %}
  </select>

{% endif %}

